@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";


.header {
  padding: 65px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    transition: color 0.5s;
    @extend%rubik-500;

    &:hover {
      font-weight: 700;
    }
  }

  &__list-link--active {
    font-weight: 700;
    color: #436372;
  }
}

.user-bar {
  display: flex;

  &__link {
    width: 52px;
    height: 52px;
    position: relative;
    padding: 16px 0;
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__link--search {
    background-color: #edf1f4;
    border-radius: 50%;
    margin-right: 22px;
  }

  &__link--heart {
    width: 89px;
    height: 52px;
    background-color: #fcd7b6;
    border-radius: 50px 0 0 50px;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      height: 32px;
      width: 1px;
      background-color: #ffffff;
      right: -3px;
      top: 9px;
      z-index: 4;
    }
  }

  &__link--basket {
    width: 89px;
    height: 52px;
    background-color: #fcd7b6;
    border-radius: 0 50px 50px 0;
    margin-right: 22px;
  }

  &__link--burger {
    background-color: #a3bbc8;
    border-radius: 50%;
  }

  &__num {
    position: absolute;
    background-color: #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: 24px;
    font-size: 10px;
    text-align: center;
    line-height: 17px;
    color: #243f4d;
  }
}

.top-slider {
  &__items {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 220px 0 280px;
  }

  &__content {
    margin-right: 100px;
    max-width: 420px;
  }

  &__text {
    font-size: 18px;
    line-height: 2;
    @extend %rubik-400;
    margin-bottom: 38px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 72px;
    line-height: 1;
    margin-bottom: 40px;
    @extend %rubik-500;
    color: #243f4d;
  }

  &__btn {
    position: relative;
    padding: 20px 110px 20px 25px;
    background-color: #a3bbc8;
    color: #ffffff;
    font-size: 15px;
    line-height: 1;

    &::after {
      position: absolute;
      content: "";
      background-image: url('../images/slider/arows_btn.svg');
      width: 22px;
      height: 9px;
      right: 20px;
      top: 25px;
    }

    &:hover {
      background-color: #5090b2;
    }
  }

  .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
  }

  .slick-dots button {
    margin-right: 13px;
    width: 40px;
    height: 40px;
    background-color: #fde3cc;
    border-radius: 50%;
    border: none;
    font-size: 12px;
    @extend%rubik-500;
    color: #243f4d;
  }

  .slick-active button {
    background-color: #ffffff;
  }
}

.info {
  background-color: #fef7f0;
  margin-bottom: 70px;

  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding: 45px 0px;
    max-width: 200px;
    position: relative;
    margin: 0 185px;

    &::after {
      position: absolute;
      content: "";
      border-right: 1px solid #e8e4df;
      height: 100%;
      top: 0;
      right: -107%;
    }
  }



  // не сробатывают значения для title и text
  // &__title {
  //   @extend %dmsans-700;
  //   font-size: 18px;
  //   line-height: 40px;
  //   color: #414141;
  // }

  .info__item-title {
    // а если так записываю тогда работают .info__item-title .info__item-text почему так?
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 2;
    color: #414141;
    margin-bottom: 20px;
  }

  .info__item-text {
    @extend %dmsans-400;
    font-size: 16px;
    color: #585858;
  }

  &__item--time::before,
  &__item--delivery:before,
  &__item--mail::before {
    position: absolute;
    content: "";
    background-image: url('../images/icons/info_icon_1.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 60px;
    left: -80px;
    top: 51px;
  }

  &__item--delivery:before {
    background-image: url('../images/icons/info_icon_2.svg');
  }

  &__item--mail::before {
    background-image: url('../images/icons/info_icon_3.svg');
  }
}




























.footer {
  font-size: 14px;

  a {
    color: $default;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    padding: 75px 0;
    border-bottom: solid 1px #dae4e9;

    &__contact {
      width: 220px;
      margin-right: 120px;
    }

    &__logo-img {
      margin-bottom: 30px;
    }

    &__phone {
      text-transform: uppercase;
    }

    &__address span {
      text-transform: uppercase;
    }

    &__title {
      font-size: 16px;
      line-height: 35px;
      color: #1f2044;
      text-transform: uppercase;
      margin-bottom: 30px;
      @extend%dmsans-700;
    }

    &__nav {
      width: 115px;
      margin-right: 200px;
    }

    &__item-form {
      max-width: 275px;
      width: 100%;
    }

    &__form-input {
      background-color: #fef7f0;
      border: none;
      padding: 10px 10px;
      font-size: 12px;
      color: #234969;
      max-width: 170px;
    }

    &__form-input::placeholder {
      color: #234969;
    }

    &__form-button {
      border: none;
      background-color: #a3bbc8;
      color: #ffffff;
      font-size: 14px;
      line-height: 21px;
      padding: 15px 25px 15px 15px;

      &:hover {
        background-color: #5090b2;
      }
    }
  }

  .footer-bootom {
    padding: 35px 0px;
    display: flex;
    justify-content: space-between;

    .footer-menu {
      &__list {
        display: flex;
      }

      &__item+.footer-menu__item {
        padding-left: 30px;
        position: relative;
        transition: color;
      }

      &__item::before {
        position: absolute;
        content: "|";
        left: 20%;
      }
    }
  }
}















@import "media";